.gradle
.studio
*.ipr
*.iml
*.iws
build/*
deploy/*
modules/*/build/*
out
test-run
.classpath
.project
.settings/omega-remote_debug.launch
.settings/org.eclipse.jdt.core.prefs
modules/core/.classpath
modules/core/.project
modules/core/.settings/org.eclipse.jdt.core.prefs
modules/core/bin/com/srt/omega/OmegaTestContainer$Common.class
modules/core/bin/com/srt/omega/OmegaTestContainer.class
modules/core/bin/com/srt/omega/app.properties
modules/core/bin/com/srt/omega/core/SampleIntegrationTest.class
modules/core/bin/com/srt/omega/core/messages.properties
modules/core/bin/com/srt/omega/fts.xml
modules/core/bin/com/srt/omega/spring.xml
modules/global/.classpath
modules/global/.gitignore
modules/global/.project
modules/global/.settings/org.eclipse.jdt.core.prefs
modules/web/.classpath
modules/web/.gitignore
modules/web/.project
modules/web/.settings/org.eclipse.jdt.core.prefs
modules/web/themes/.classpath
modules/web/themes/.project
modules/web/themes/.settings/org.eclipse.jdt.core.prefs
.DS_Store
.idea